certifi==2022.6.15.1
charset-normalizer==2.1.1
filelock==3.8.0
huggingface-hub==0.9.1
idna==3.3
numpy==1.23.2
packaging==21.3
pandas==1.4.3
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.2.1
PyYAML==6.0
regex==2022.8.17
six==1.16.0
tokenizers==0.12.1
torch==1.12.1
torchtext==0.6.0
tqdm==4.64.1
transformers[sentencepiece]==4.21.3
typing_extensions==4.3.0
urllib3==1.26.12
wget==3.2
torchmetrics==0.9.3